NODE_ENV='development'
NEXT_PUBLIC_BASE_URL='http://localhost:3000'

# FINNHUB (server-side only)
FINNHUB_API_KEY='<YOUR_FINNHUB_API_KEY>'
FINNHUB_BASE_URL='https://finnhub.io/api/v1'

# Sentrix API (local)
NEXT_PUBLIC_SENTRIX_API_BASE_URL='http://localhost:8000/api/v1'
