# Railway runtime template.
# Mongo should point to Atlas in all environments.

KAFKA_BOOTSTRAP_SERVERS='pkc-xxxxx.<region>.aws.confluent.cloud:9092'
KAFKA_GROUP_ID='sentiment-service'
KAFKA_INPUT_TOPIC='sentrix.filter-service-b.filtered'
KAFKA_CLIENT_ID='sentiment-service'
KAFKA_AUTO_OFFSET_RESET='earliest'
KAFKA_ENABLE_AUTO_COMMIT='false'
KAFKA_SECURITY_PROTOCOL='SASL_SSL'
KAFKA_SASL_MECHANISM='PLAIN'
KAFKA_SASL_USERNAME='<CONFLUENT_API_KEY>'
KAFKA_SASL_PASSWORD='<CONFLUENT_API_SECRET>'
KAFKA_SSL_CA_LOCATION=''

MONGO_URI='<YOUR_ATLAS_MONGO_URI>'
MONGO_DB_NAME='sentrix'
MONGO_HOURLY_COLLECTION='ticker_sentiment_hourly'
MONGO_SIGNAL_COLLECTION='ticker_sentiment_signal'
MONGO_HOURLY_TTL_DAYS='7'

HUGGING_FACE_API='<YOUR_HUGGING_FACE_API_KEY>'

PORT='8080'
HOST='0.0.0.0'
