# Reddit credentials
CLIENT_ID='<your-reddit-app-client-id>'
CLIENT_SECRET='<your-reddit-app-client-secret>'
REDDIT_USERNAME='<your-reddit-username>'
REDDIT_PASSWORD='<your-reddit-password>'

# Reddit search controls
REDDIT_SEARCH_TIME_FILTER='day'
REDDIT_SEARCH_LIMIT=75
REDDIT_SEARCH_SORT='new'

# Kafka connection (local)
KAFKA_BOOTSTRAP_SERVERS='localhost:9092'
KAFKA_TOPIC='sentrix.ingestor.events'
KAFKA_SECURITY_PROTOCOL='PLAINTEXT'
KAFKA_SASL_MECHANISM=
KAFKA_SASL_JAAS_CONFIG=

# App runtime
PORT=8080
