# Reddit credentials
CLIENT_ID=<your-reddit-app-client-id>
CLIENT_SECRET=<your-reddit-app-client-secret>
REDDIT_USERNAME=<your-reddit-username>
REDDIT_PASSWORD=<your-reddit-password>

# Kafka connection (Confluent Cloud)
KAFKA_BOOTSTRAP_SERVERS=<pkc-xxxxx.<region>.aws.confluent.cloud:9092>
KAFKA_TOPIC=sentrix.ingestor.events
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="<API_KEY>" password="<API_SECRET>";

# App runtime
PORT=8080
