# Kafka connection
KAFKA_BOOTSTRAP_SERVERS='pkc-xxxxx.ap-east-1.aws.confluent.cloud:9092'
KAFKA_SECURITY_PROTOCOL='SASL_SSL'
KAFKA_SASL_MECHANISM='PLAIN'
KAFKA_SASL_JAAS_CONFIG='org.apache.kafka.common.security.plain.PlainLoginModule required username="<API_KEY>" password="<API_SECRET>";'

# Kafka topics / consumer group
APP_KAFKA_TOPIC_RAW='sentrix.ingestor.events'
APP_KAFKA_TOPIC_CLEANED='sentrix.filter-service-a.cleaned'
APP_KAFKA_TOPIC_DROPPED='sentrix.filter-service-a.dropped'
APP_KAFKA_CONSUMER_GROUP_ID='filter-service-a'

# Redis connection (LOCAL RUN from your Mac -> use Railway public proxy)
REDIS_HOST='gondola.proxy.rlwy.net'
REDIS_PORT=52179
REDIS_USERNAME='default'
REDIS_PASSWORD='<RAILWAY_REDIS_PASSWORD>'
REDIS_SSL_ENABLED=false

# App runtime
PORT=8081
