# Kafka connection (LOCAL)
KAFKA_BOOTSTRAP_SERVERS='localhost:9092'
KAFKA_SECURITY_PROTOCOL='PLAINTEXT'
KAFKA_SASL_MECHANISM=''
KAFKA_SASL_JAAS_CONFIG=''

# Kafka topics / consumer group
APP_KAFKA_TOPIC_RAW='sentrix.ingestor.events'
APP_KAFKA_TOPIC_CLEANED='sentrix.filter-service-a.cleaned'
APP_KAFKA_TOPIC_DROPPED='sentrix.filter-service-a.dropped'
APP_KAFKA_CONSUMER_GROUP_ID='filter-service-a'

# Redis connection (LOCAL)
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_USERNAME=''
REDIS_PASSWORD=''
REDIS_SSL_ENABLED=false

# App runtime
PORT=8081
