KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=filtering-service-b
KAFKA_INPUT_TOPIC=sentrix.filter-service-a.cleaned
KAFKA_FILTERED_TOPIC=sentrix.filter-service-b.filtered
KAFKA_REJECTED_TOPIC=sentrix.filter-service-b.rejected

KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_ENABLE_AUTO_COMMIT=false

APP_LOG_LEVEL=INFO
